<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
            <span>DashBoard</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
        </md-content>
    </div>
</md-toolbar>
<div layout="row">
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="true"
            md-disable-backdrop
            md-whiteframe="4"
            flex="20">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="dashCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <br/>
            <md-button class="md-raised md-primary" ng-click="gotoorder()">Order</md-button>
            <br/>
            <md-button class="md-raised md-primary" ng-click="gotoProduct()">product</md-button>
            <br/>
            <md-button class="md-raised md-primary" ng-click="gotoSaleMan()">SalesMan</md-button>
            <br/>
            <md-button class="md-raised md-primary" ng-click="logout()">Logout</md-button>
            <p hide-md show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>

    </md-sidenav>

    <div flex>
        <ui-view></ui-view>
        <!--  <section>
              <md-toolbar md-scroll-shrink>
                  <div class="md-toolbar-tools">My Messages</div>
              </md-toolbar>
              <md-subheader class="md-primary">Unread Messages</md-subheader>


              </md-content>
              <md-list layout-padding>
                  <md-list-item class="md-3-line" ng-repeat="message in messages">
                      <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">

                      <div class="md-list-item-text">
                          <h3>{{message.what}}</h3>
                          <h4>{{message.who}}</h4>

                          <p>
                              {{message.notes}}
                          </p>
                      </div>
                  </md-list-item>
              </md-list>
          </section>
          -->

    </div>
</div>


<!--
</section>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" md-is-locked-open="false">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="testInput" ng-model="name.customer">Customer Name</label>
                <input type="text" id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <form>
            <md-input-container>
                <label for="testInput" ng-model="product.customer">Product Name</label>
                <input type="text" id="testInput1"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>

        <form>
            <md-input-container>
                <label for="testInput" ng-model="quantity.customer">Quantity</label>
                <input type="text" id="testInput2"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <form>
            <md-input-container>
                <label for="testInput" ng-model="address.customer">Address</label>
                <input type="text" id="testInput3"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
       &lt;!&ndash; <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
        </md-button>&ndash;&gt;
        <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>

        <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
        <br/>
    </md-content>
</md-sidenav>


-->
